version: '3.8' 
services:
  web:
    build:
      context: .. # <-- MUDANÇA: Sobe para a pasta Lumora-GS (Raiz do Projeto)
      dockerfile: ops/Dockerfile # <-- Informa onde o Dockerfile está dentro do novo contexto
    container_name: gs-frontend
    ports:
      - "8080:80" 
    depends_on:
      - db 
  
  db:
    image: mysql:8
    container_name: gs-db
    environment:
      MYSQL_ROOT_PASSWORD: your_root_password_here
      MYSQL_DATABASE: gs_ai 
    volumes:
      - ../db:/docker-entrypoint-initdb.d
      - dbdata:/var/lib/mysql

volumes:
  dbdata: