version: '3.8' 
services:

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gs-frontend
    ports:
      - "8080:80" 
    depends_on:
      - db
  
  
  db:
    image: mysql:8
    container_name: gs-db
    environment:
      
      MYSQL_ROOT_PASSWORD: MyStrongRootPassword
      MYSQL_DATABASE: gs_ai # Nome do schema
    volumes:
     
      - ../db:/docker-entrypoint-initdb.d
      
      - dbdata:/var/lib/mysql

volumes:
  dbdata: 